@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Secondary font  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.dancing-script {
    font-family: 'Dancing Script', cursive;
}

/* Fonts family  */
body {
    font-family: "Inter", sans-serif;
    /* overflow-x: hidden; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    background-color: black;
} */


/* shared style start */
.common-p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.btn-primary {
    border-radius: 2.6rem;

    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    padding: 1rem 2.5rem;
    border: none;
}

.common-title {
    /* color: rgb(255, 255, 255); */
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

/* shared style end */



/* nav section style starts here  */
.nav-container {
    /* max-width: 66.25rem; */
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 6.2rem;


    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

.nav-container h3 {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-container ul {
    max-width: 29.06rem;
    height: 2.88rem;

    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border: 2px solid green;
    border-radius: 2.4rem;
}

 nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.3rem;
}

 nav ul li {
    list-style: none;

}

.nav-container ul li:first-child a {
    border-radius: 2.8rem;
    background: rgb(230, 83, 60);
    padding: 0.5rem 1.25rem;
}



 nav ul li a {
    text-decoration: none;
    /* color: white; */
    font-size: 1.1rem;
    font-weight: 400;
}

.bars {
    display: none;
}

/* nav section style end here  */


/* Banner section style start here  */
.banner-section-container {
    max-width: 90%;

    /* max-width: 35rem; */

    margin: 6.2rem auto;

    border: 2px solid rebeccapurple;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 37.5rem;
    height: 27.5rem;

    border: 2px solid green;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.banner-content-title {
    /* color: rgb(255, 255, 255); */

    font-size: 4.8rem;
    font-weight: 900;
}

.common-p {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.btn-primary-no-bg {
    border-radius: 2.6rem;


    /* color: rgb(255, 255, 255); */
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3rem;
    padding: 1rem 2.5rem;
    border: none;
}

.banner-image {
    border: 2px solid red;
    max-width: 22rem;
    height: 36.2rem;

    position: relative;
}

.banner-image img {
    width: 100%;
    height: 100%;

}

.banner-card-1 {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;


    width: 12.8rem;
    height: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;

    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);

    position: absolute;

    left: -9.4rem;
    bottom: 3.75rem;
}

.banner-card-1-text {
    width: 6.5rem;
    height: 3.5rem;
}

.circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: red;
    border-radius: 50%;
}

.banner-card-2 {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;


    width: 12rem;
    height: 6rem;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.1);

    position: absolute;

    top: 160px;
    right: -90px;
}

/* Banner section style end here  */



/* change your habits section start here   */
.habits-container {
    /* max-width: 65.25rem; */
    max-width: 90%;
    margin: 6.25rem auto;

    border: 2px solid red;
}

.habits-content {
    border: 2px solid green;

    margin-bottom: 3.6rem;

}

.habits-content h2 {
    /* color: rgb(255, 255, 255); */
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

    margin-bottom: 0.8rem;
}

.habits-content p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

.habits-images-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habits-images-1 {
    max-width: 14.5rem;
    height: 17.1rem;

    border: 1px solid mediumaquamarine;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habits-images-1-img img {
    border-radius: 50%;
}

.img-tile {
    /* color: rgb(255, 255, 255); */

    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.img-p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

/* change your habits section style end  here  */



/* Run an extra mile easily start here  */
.run-container {
    max-width: 90%;
    margin: 6.25rem auto;

    border: 1px solid red;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3.4rem;

    border-radius: 1.2rem;

    background: rgb(34, 34, 34);
}

.run-content h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.8rem;
}

.run-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 2.1rem;
}

.run-image {
    width: 21rem;
    height: 19.5rem;
    padding: 1.5rem;


}

.run-image img {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}

/* Run an extra mile easily end here */


/* meet our team section style starts here  */
.meet-our-team-container {
    max-width: 90%;
    margin: 6.25rem auto;
    border: 1px solid red;


}

.meet-our-team-content {
    margin-bottom: 3.6rem;
}

.meet-our-team-content h2 {
    /* color: rgb(255, 255, 255); */
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.8rem;
    text-align: center;
}

.meet-our-team-content p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
}

.trainer-1 {
    /* max-width: 20.4rem;
    height: 17rem; */
    position: relative;
}

.trainer-1 img {
    border-radius: 1.1rem;
}

.meet-our-team-images-container {
    max-width: 100%;

    border: 1px solid green;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.1);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    justify-content: center;
    padding: 1.1rem;

}


.trainer-1-text {
    position: absolute;

    left: 1rem;
    bottom: 1.8rem;
}

.trainer-1-text h5 {

    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
}

.trainer-1-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}

.trainer-1 img {
    height: 100%;
    width: 100%;
}

/* meet our team section style end here  */

/* footer section style starts here  */
.footer-container {
    max-width: 90%;
    border: 1px solid red;
    margin: 5rem auto;
}


/* footer section style end here  */

.footer-container {
    max-width: 90%;
    margin: 5rem auto;
    border: 1px solid green;
    padding: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foorer-text-1 {
    margin-top: 4rem;
    margin-bottom: 4.5rem;
}

.foorer-text-1 h1 {
    color: rgb(230, 83, 60);
    font-size: 4.2rem;
    font-weight: 800;

    margin-bottom: 1.2rem;
}

.foorer-text-1 p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 0.8rem;
    font-weight: 400;
}


.foorer-text-2 h3 {
    /* color: rgb(255, 255, 255); */
    font-size: 2rem;
    font-weight: 700;
}

.foorer-text-2 ul li {
    list-style: none;
}

.foorer-text-2 ul li a {
    text-decoration: none;

    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-copy-right p {
    /* color: rgba(255, 255, 255, 0.5); */
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;

    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
}